<section id="contact">
  <h2>Contact</h2>

  <div id="contactList">
    <a href = "tel:tdolphus21@gmail.com">
      <div >
        <i class="fas fa-envelope"></i>
        <span>Email: Tdolphus21@gmail.com</span>
      </div>
    </a>
    <a href = "https://www.linkedin.com/in/tdolphus">
        <div >
            <i class="fa-brands fa-linkedin"></i>
          <span>Linkedin: Tdolphus</span>
        </div>
      </a>
  </div>
</section>
