<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Titus Dolphus</title>
<link rel="stylesheet" href="/styles/nav.css" />
<link rel="stylesheet" href="/styles/global.css" />
<script defer src="/js/index.js"></script>
<script src="https://kit.fontawesome.com/3b7aee36e6.js" crossorigin="anonymous"></script>
