<section class = "container" id="skills">
    <h2>Skills</h2>
  <div id="skillsList">
    <div class="skill">
      <i class="fab fa-html5"></i>
      <p>HTML5</p>
    </div>
    <div class="skill">
      <i class="fab fa-css3-alt"></i>
      <p>CSS</p>
    </div>
    <div class="skill">
      <i class="fab fa-js"></i>
      <p>Javascript</p>
    </div>

    <div class="skill">
      <i class="fab fa-node"></i>
      <p>Node</p>
    </div>
    <div class="skill">
        <i class="fa-brands fa-golang"></i>
      <p>Go</p>
    </div>
    <div class="skill">
      <i class="fab fa-aws"></i>
      <p>AWS</p>
    </div>
    <div class="skill">
      <i class="fab fa-react"></i>
      <p>React</p>
    </div>
    <div class="skill">
      <i class="fab fa-wordpress"></i>
      <p>Wordpress</p>
    </div>
    <div class="skill">
      <i class="fab fa-git"></i>
      <p>Git</p>
    </div>
  </div>
  <a class = "scrollLink" href = "#slider"><span class = "scroll"></span>Experience</a>
</section>
