<div class="wrapper">
  <h2>Experience</h2>
  <i id="left" class="fa-solid fa-angle-left"></i>
  <ul class="carousel">
    <li class="card">
      <h2>Search Solution Group</h2>
      <span
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        deleniti, mollitia iure vitae at eaque distinctio culpa expedita totam,
        blanditiis, exercitationem perferendis illo veritatis nesciunt pariatur
        odit tenetur alias aperiam?</span
      >
    </li>

    <li class="card">
      <h2>BlueTone Media</h2>
      <span
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
      deleniti, mollitia iure vitae at eaque distinctio culpa expedita totam,
      blanditiis, exercitationem perferendis illo veritatis nesciunt pariatur
      odit tenetur alias aperiam?</span>
    </li>
    <li class="card">
      <h2>Billy Graham Evangelistic Association</h2>
      <span
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
      deleniti, mollitia iure vitae at eaque distinctio culpa expedita totam,
      blanditiis, exercitationem perferendis illo veritatis nesciunt pariatur
      odit tenetur alias aperiam?</span>
    </li>
    <li class="card">
      <h2>Code Fellows</h2>
      <span
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
      deleniti, mollitia iure vitae at eaque distinctio culpa expedita totam,
      blanditiis, exercitationem perferendis illo veritatis nesciunt pariatur
      odit tenetur alias aperiam?</span>
    </li>
    <li class="card">
      <h2>Magenta Technologies</h2>
      <span
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
      deleniti, mollitia iure vitae at eaque distinctio culpa expedita totam,
      blanditiis, exercitationem perferendis illo veritatis nesciunt pariatur
      odit tenetur alias aperiam?</span>
    </li>
  </ul>
  <i id="right" class="fa-solid fa-angle-right"></i>
</div>
